.home-page {
  padding: 0 1em;
}
.logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-mapper {
  transition: 0.3s ease;
  height: 2.8em;
  line-height: 4em;
  font-weight: bolder;
}
@media (max-width: 600px) {
  .header-mapper {
    transform: translateX(200px);
  }
}
.header-banner {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
  background-color: aliceblue;
  border-radius: 2em;
}
.banner-img {
  flex: 1 0 10em;
}
.banner-text {
  flex: 1 0;
  font-size: 2em;
  font-weight: bolder;
  padding-left: 2em;
}
.page-main {
  margin-top: 1em;
}
.main-section {
  margin-bottom: 1em;
  background-color: aliceblue;
  border-radius: 2em;
}
.section-header {
  padding: 1em;
  font-size: 1.3em;
  font-weight: bolder;
}
.section-main {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}

.stat-container {
  background-color: rgb(195, 224, 250);
  border-radius: 1em;
  margin: 5px;
  padding: 0.5em;
}

.isClosed {
  transform: translateX(50px);
  /* width: calc(100% - 8.6em); */
}
