.App {
  box-sizing: border-box;
}
/**** MAIN ****/

#main {
  width: 100%;
  transition: 0.3s ease !important;
  overflow: hidden;
}
@media only screen and (min-width: 600px) {
  #main.isOpen {
    transform: translateX(200px);
    width: calc(100% - 200px);
  }
}

#mainApplication {
  display: flex;
  width: 100%;
}

a:focus,
h2:focus,
button:focus {
  outline: none;
}
/**** MAIN ****/
/**** SIDEBAR ****/

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: white;

  transition: 0.2s;
  padding: 6px 0;
  border-radius: 2px;
}

/* Change color on hover */
a.bm-item:hover {
  color: white;
  background: #90a2a9;
}

.bm-burger-button {
  position: fixed;
  width: 2.3em;
  height: 2em;
  left: 1em;
  top: 1em;
}
h2.menu-item {
  padding: 20px !important;
}
.bm-burger-bars {
  background: #373a47;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
/* General sidebar styles */
.bm-menu {
  background: #60737d;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}
.bm-menu-wrap {
  transition: 0.3s ease !important;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}
/**** SIDEBAR ****/
